doctype html
html
  head
    block scripts
    title= "天津市保护小动物协会"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      P 天津市保护小动物协会
      nav
        ul
          li 
            a(href="error") 品牌介绍
          li 
            a(href="error") 项目分析
          li 
            a(href="error") 示范中心
          li 
            a(href="error") 投资方案
          li 
            a(href="error") 加盟服务
          li 
            a(href="error") 师资培训
          li 
            a(href="error") 联系我们
    block content
    block foot