body {
  margin:0px;
  background-repeat:no-repeat;
}

nav{
  width: 96%;
  background-color:#333;   
}
ul{    
    background-color:#333;   
    overflow:hidden;   
    width: 100%;
    text-align:left; 
    float:left;
    justify-content:space-between;/*决定子元素两端对齐，均匀间隔*/
    align-items:center;/*决定子元素垂直居中*/
    flex-wrap: wrap;/*子元素超出换行，默认是不换行的，当子元素的宽由flex决定时会失效*/
}   
li{   
    float:left;  
    flex:1; 
    margin: 0 0 0 1000;
    display: block;
}   
li a, .dropbtn{   
    display:inline-block;   
    color:white;   
    text-align:center;   
    padding:14px 16px;   
    text-decoration:none;  
}   
  
li a:hover, .dropdown:hover .dropbtn{   
    background-color:#111;   
}   
  
.dropdown{    
    text-align:center;  
}   
  
.dropdown-content{   
    min-width:200px;   
    background-color:#F9F9F9;   
    position:absolute;   
    display:none;   
    box-shadow:0px 8px 15px 0px rgba(0,0,0,0.2);   
}   
  
.dropdown-content a{   
    color:black;   
    padding:12px 16px;   
    text-decoration:none;   
    display:block;   
}   
  
.dropdown-content a:hover{   
    background-color:#F1F1F1;   
}   
  
.dropdown:hover .dropdown-content{   
    display: block;   
}   

/*轮播*/
.example{}
.example ol{position:relative;width: 80px;height: 20px;top:-30px;left:60px;}
.example ol li{float:left;width: 10px;height: 10px;margin: 5px;background: #fff;}
.example ol li.seleted{background: #1AA4CA;}
.luara-{position:relative;padding:0;overflow: hidden;}
.luara- ul{padding: inherit;margin: 0;}
.luara- ul li{display: none;padding: inherit;margin: inherit;list-style: none;}
.luara- ul li:first-child{display:block;}
.luara- ul li img{width: inherit;height: inherit;}

/**/
div#maincontent{
    width: 810px;
    margin: 0 0 0 25px;
    padding: 30px 0 30px 0;
    border: 0;
    border-bottom: 1px solid #aaa;
}

div#footer {
    clear: both;
    margin: 0;
    padding-top: 4px;
    margin-left: 12px;
    width: 1210px;
    background: #f0f0f0;
    border-top: 0px solid #fff;
    line-height: 24px;
    background: #fdfcf8 url(/ui2017/footer.png) top left repeat-x;
    font-family: PingFangSC-Regular, '微软雅黑', Verdana, Arial, '宋体';
    display: block;  
}